
*{/* L'étoile ou astérique sélectionne tous les éléments de ma page html*/
     font-family:fantasy;/*choix d'une police*/

}
body{
    width: 50%;/*Largeur de ma page 50% de l'écran*/
    margin:auto;/*gestion automatique des marges pour que mon tableau soit centré*/
}
table{
    border: 4px solid #483d8b;/*bordure - 3 valeurs: épaisseur / type de trait / couleur*/
    border-collapse: collapse;/*par défaut la bordure contient deux traits, pour que le trait soit unique on utilise la propriété "collapse"*/
    width: 90%;/*Largeur du tableau par rapport à son contenant donc ici au body /!\ ne pas oublier la règle de l'héritage en CSS*/
    margin: 25px;

}
thead, tfoot {
    background-color: #e6e6fa;
    border: 2px solid #6a5acd;
}
tbody {
    border:1px solid #6a5acd;
}
th {
    border: 1 px dotted #6a5cd;/*dotted = pointillés */
    padding: 4px;
    background-color: #e6e6fa;
    width: 25%;
}
td {
    font-size : 100%;
    border: 1px dotted #6a5acd;
    text-align: center;
    padding: 5px;/*padding = marge intérieure*/

}
    td:first-child { /* premier <td> pour aligner le texte à gauche de la première cellule de chaque rangée */
       text-align: left;
       background-color: #e6e6fa;
}
