body{
    background-color: purple;
}
section{
    width:60%;
    margin: 0 auto;
}
td{
    width: 4em;
    height: 4em;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.gray{
    background-color: gray;
}
.white{
    background-color: white;
}
.blue{
    background-color: blue;
}
