#bleuclair{
    background: #53dbbb;
    margin:auto;


}
header h1{
    background:green;
}
#groscarre{
  background: blue;
  width: 50%;
  border: 2px;
  height: 200px;

}
#groscarre2{
   background: yellow;
   width: 50%;
   height: 200px;
   float:right;
   display:inline-block;

}
#groscarre3{
  background: red;
  width: 50%;
  border: 2px;
  height: 200px;
  display: inline-block;
}
#groscarre4{
  background: green;
  width: 50%;
  border: 2px;
  height: 200px;
  float:right;
}
