#bleuclair{
    background: #53dbbb;
    margin:auto;
    color:white;
    width:944px;
    text-align: center;

}
header {
    background:green;
    height:62px;
    line-height: 62px;
}
nav{
    background:darkslategray;
    height:60px;
    line-height:60px;
}
section{
    height:380px;
    margin:2px;

}
.groscarre{
    border: 1px solid;
    float:left;
    height:188px;
    width:468px;
    background: blue;
}
.carre{
    border: 1px solid;
    float:left;
    height: 92px;
    width: 232px;
    line-height:92px;
}
.c1{
    background:pink;
}
.c2{
    background:yellow;
}
.c3{
    background:red;
}
.c4{
    background:green;
}
footer{
    background: silver;
    height:62px;
    line-height:62px;
}
