body{
    background-color: black;
}
p{
    background-color: gray;
}
p span{
    background-color:cyan;
}
img{
    height: 200px;/*Hauteur*/
    width: 280px;/*largeur*/
    border:5px double gray;/*taille,couleur de la bordure*/
    margin:15px;
    /*display:block;*/
    float: left;/*effet flottant,permet de placer des balises côte à côte alors que selon le flux du web standard les éléments se placent les uns au-dessus des autres.*/
    transition: margin 0.5s;
}
div{
    margin: 50px 0 0 50px;
}
img:hover{/*La pseudo-classe : hover modifie un affichage au survol de la souris*/
    margin-top: 3px;

}
.clear{
    clear: both;/*supprime l'effet flottant*/
}
