body{
    background-color: black;
}
img{
    height: 200px;/*Hauteur*/
    width: 280px;/*largeur*/
    border:5px double gray;/*taille,couleur de la bordure*/
}
div{
    margin: 50px 0 0 50px;
}
